# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
node_modules
npm-debug.log
yarn-error.log
vendor
# We want to vc the vendor dir in dist
!/dist/vendor
resources/assets/config-local.json